<footer id="footer">
    <div class="container d-flex">
        <ul class="me-auto">
            <li>
                <a href="https://exist-db.org">eXist-db.org</a>
            </li>
            <li>
                <a href="https://exist-db.org/exist/apps/doc/documentation.xml">Documentation</a>
            </li>
            <li>
                <a href="https://exist-db.org/exist/apps/demo/index.html">Demo</a>
            </li>
            <li>
                <a href="https://exist-db.org/exist/apps/doc/legal.xml">Legal</a>
            </li>
        </ul>
        <div id="copyright" class="d-hidden-s">
            <p>Copyright eXist-db Project 2025</p>
        </div>
    </div>
</footer>