<nav class="navbar navbar-dark navbar-expand-md" role="navigation">
    <div class="container navbar-container">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
            <span class="visually-hidden-focusable">Toggle navigation</span>
        </button>
        <div class="navbar-collapse collapse" id="navbar-collapse-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown" id="about">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="https://exist-db.org">eXist-db.org</a></li>
                        <li><a href="https://exist-db.org/exist/apps/doc/index.html"
                                class="dropdown-item">Documentation</a></li>
                        <li>
                            <a href="https://exist-db.org/exist/apps/demo/index.html" class="dropdown-item">Demo</a>
                        </li>
                    </ul>
                </li>
                {%- for entry in collections.all | eleventyNavigation %}
                <li class="nav-item"><a class="nav-link" href="{{ entry.url }}" {% if entry.url==page.url %}
                        aria-current="page" {% endif %}>{{
                        entry.title }}</a></li>
                {%- endfor %}
            </ul>
        </div>
    </div>
</nav>