<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
        <link rel="shortcut icon" href="/img/exist_icon_16x16.ico" />
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		
		<link rel="stylesheet" href="/css/main.css">

		{#- Uncomment this if you'd like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. CSS:
			* Add to a per-page bundle using `{% css %}{% endcss %}`
			* Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		2. Or for JavaScript:
			* Add to a per-page bundle using `{% js %}{% endjs %}`
			* Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
		3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add CSS to the bundle #}
		<style>/* This is an arbitrary CSS string added to the bundle */</style>

		{#- Add the contents of a file to the bundle #}
		{#- <style>{% include "css/index.css" %}</style> #}

		{#- Or you can add from node_modules #}
		{# <style>{% include "node_modules/something.css" %}</style> #}

		{#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>

		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		{#- Add the heading-anchors web component to the JavaScript bundle #}
		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

        <div class="container">
            <div id="header"><a href="/" id="logo">eXistDB</a></div>
        </div>
        <nav class="navbar navbar-dark navbar-expand-md" role="navigation">
            <div class="container navbar-container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                    </svg>
                    <span class="visually-hidden-focusable">Toggle navigation</span>
                </button>
                <div class="navbar-collapse collapse" id="navbar-collapse-1">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown" id="about">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Home</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="https://exist-db.org">eXist-db.org</a></li>
                                <li><a class="dropdown-item" href="{${dashboard.pkg.abbrev}}/index.html">Dashboard</a></li>
                                <li><a href="https://exist-db.org/exist/apps/doc/index.html" class="dropdown-item">Documentation</a></li>
                            </ul>
                        </li>
                        {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item"><a class="nav-link"href="{{ entry.url }}" {% if entry.url==page.url %} aria-current="page" {% endif %}>{{
                                entry.title }}</a></li>
                        {%- endfor %}
                    </ul>
                </div>
            </div>
        </nav>
        <nav aria-label="breadcrumb" class="breadcrumb-bar">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">News</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                </ol>
            </div>
        </nav>
        <div class="container">
            <main id="main" class="row">
                <heading-anchors>
                    {{ content | safe }}
                </heading-anchors>
            </main>
        </div>

        <footer id="footer">
            <div class="container d-flex">
                <ul class="me-auto">
                    <li>
                        <a href="https://exist-db.org">eXist-db.org</a>
                    </li>
                    <li>
                        <a href="documentation.xml">Documentation</a>
                    </li>
                    <li>
                        <a href="{${demo.pkg.abbrev}}/index.html">Demo</a>
                    </li>
                    <li>
                        <a href="legal.xml">Legal</a>
                    </li>
                </ul>
                <div id="copyright" class="d-hidden-s">
                    <p>Copyright eXist-db Project 2014</p>
                </div>
            </div>
        </footer>

		<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
		
		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>
